This notebook is just for exploring the data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
Data_path='C:\\Users\\gt\\End to End Data Science Project\\survey_results_public.csv'

In [7]:
#Read data and print the shape of it
#83439 response and 48 questions
raw_df=pd.read_csv(Data_path)
raw_df.shape

(83439, 48)

In [9]:
#display random answer
#Observations:Multiple answers needed to be splitted
raw_df.sample(1).iloc[0]

ResponseId                                                                  20628
MainBranch                                         I am a developer by profession
Employment                                                     Employed full-time
Country                                                                    Canada
US_State                                                                      NaN
UK_Country                                                                    NaN
EdLevel                           Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)
Age1stCode                                                          18 - 24 years
LearnCode                                                                  School
YearsCode                                                                      15
YearsCodePro                                                                    7
DevType                                    Developer, mobile;Developer, front-end
OrgSize                                                  10,000 or more employees
Currency                                                     CAD\tCanadian dollar
CompTotal                                                                     NaN
CompFreq                                                                      NaN
LanguageHaveWorkedWith                           Bash/Shell;JavaScript;Ruby;Swift
LanguageWantToWorkWith           Bash/Shell;JavaScript;Perl;PowerShell;Ruby;Swift
DatabaseHaveWorkedWith                                                        NaN
DatabaseWantToWorkWith                                                        NaN
PlatformHaveWorkedWith                                                        NaN
PlatformWantToWorkWith                                                        NaN
WebframeHaveWorkedWith                                                        NaN
WebframeWantToWorkWith                                                        NaN
MiscTechHaveWorkedWith                                               React Native
MiscTechWantToWorkWith                                               React Native
ToolsTechHaveWorkedWith                                                       Git
ToolsTechWantToWorkWith                                            Git;Kubernetes
NEWCollabToolsHaveWorkedWith                                  Visual Studio;Xcode
NEWCollabToolsWantToWorkWith                                  Visual Studio;Xcode
OpSys                                                                       MacOS
NEWStuck                        Visit Stack Overflow;Go for a walk or other ph...
NEWSOSites                                          Stack Overflow;Stack Exchange
SOVisitFreq                                                Multiple times per day
SOAccount                                                                     Yes
SOPartFreq                                    Less than once per month or monthly
SOComm                                                              Yes, somewhat
NEWOtherComms                                                                  No
Age                                                               25-34 years old
Gender                                                                        Man
Trans                                                                          No
Sexuality                                                                     NaN
Ethnicity                                                             South Asian
Accessibility                                                   None of the above
MentalHealth                                                    None of the above
SurveyLength                                                Appropriate in length
SurveyEase                                                                   Easy
ConvertedCompYearly                                                           NaN
Name: 20627, dtype: object

We can notice from here that:
- Some of the answers skipped like 'DatabaseHaveWorkedWith','WebframeWantToWorkWith',.....
- Some questions has multiple solutions and we need to split those answers
- the separator between words is ";" not ","

Our main focus in this data information related to the development not personal information and we should see mutliple responses to take an impression on the data and get more understanding

In [13]:
#print the general information to the dataframe and it's datatypes
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83439 entries, 0 to 83438
Data columns (total 48 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ResponseId                    83439 non-null  int64
 1   MainBranch                    83439 non-null  object
 2   Employment                    83323 non-null  object
 3   Country                       83439 non-null  object
 4   US_State                      14920 non-null  object
 5   UK_Country                    4418 non-null   object
 6   EdLevel                       83126 non-null  object
 7   Age1stCode                    83243 non-null  object
 8   LearnCode                     82963 non-null  object
 9   YearsCode                     81641 non-null  object
 10  YearsCodePro                  61216 non-null  object
 11  DevType                       66484 non-null  object
 12  OrgSize                       60726 non-null  object
 13  Currency                      61080 non-null  object
 14  CompTotal                     47183 non-null  float64
 15  CompFreq                      52150 non-null  object
 16  LanguageHaveWorkedWith        82357 non-null  object
 17  LanguageWantToWorkWith        76821 non-null  object
 18  DatabaseHaveWorkedWith        69546 non-null  object
 19  DatabaseWantToWorkWith        58299 non-null  object
 20  PlatformHaveWorkedWith        52135 non-null  object
 21  PlatformWantToWorkWith        41619 non-null  object
 22  WebframeHaveWorkedWith        61707 non-null  object
 23  WebframeWantToWorkWith        52095 non-null  object
 24  MiscTechHaveWorkedWith        47055 non-null  object
 25  MiscTechWantToWorkWith        38021 non-null  object
 26  ToolsTechHaveWorkedWith       72537 non-null  object
 27  ToolsTechWantToWorkWith       65480 non-null  object
 28  NEWCollabToolsHaveWorkedWith  81234 non-null  object
 29  NEWCollabToolsWantToWorkWith  73022 non-null  object
 30  OpSys                         83294 non-null  object
 31  NEWStuck                      83052 non-null  object
 32  NEWSOSites                    83171 non-null  object
 33  SOVisitFreq                   82413 non-null  object
 34  SOAccount                     82525 non-null  object
 35  SOPartFreq                    67553 non-null  object
 36  SOComm                        82319 non-null  object
 37  NEWOtherComms                 82828 non-null  object
 38  Age                           82407 non-null  object
 39  Gender                        82286 non-null  object
 40  Trans                         80678 non-null  object
 41  Sexuality                     73366 non-null  object
 42  Ethnicity                     79464 non-null  object
 43  Accessibility                 77603 non-null  object
 44  MentalHealth                  76920 non-null  object
 45  SurveyLength                  81711 non-null  object
 46  SurveyEase                    81948 non-null  object
 47  ConvertedCompYearly           46844 non-null  float64
dtypes: float64(2), int64(1), object(45)
memory usage: 30.6+ MB

Most of the datatypes are objects which means the data needs preprocessing so, that we can use it well

- some columns as Age, Age1stCode and YearsCodePro should have numerical data types not objects
- some columns as ResponseId is numerical and we will not make any calcualtions using it so, we can change it's datatype to object or remove the column

In [14]:
#Get stats for the numerical column
raw_df.describe()

         ResponseId     CompTotal  ConvertedCompYearly
count  83439.000000  4.718300e+04         4.684400e+04
mean   41720.000000  2.119407e+69         1.184262e+05
std    24086.908893  4.603702e+71         5.272944e+05
min        1.000000  0.000000e+00         1.000000e+00
25%    20860.500000  1.600000e+04         2.702500e+04
50%    41720.000000  6.700000e+04         5.621100e+04
75%    62579.500000  1.400000e+05         1.000000e+05
max    83439.000000  1.000000e+74         4.524131e+07

CompTotal refers to current total compensation (salary, bonuses, and perks, before taxes and deductions)

In [17]:
#WhyYearsCodePro and YearsCode are not integers?
questionable_columns=['YearsCodePro','YearsCode']

for col in questionable_columns:
    print(col)
    print(raw_df[col].unique().tolist())
    print('------------------------')
    print()

YearsCodePro
[nan, '10', '4', '5', '6', '2', '30', '9', '18', '12', '21', '1', '16', 'Less than 1 year', '15', '3', '35', '7', '8', '17', '14', '26', '25', '20', '50', '34', '11', '24', '22', '13', '31', '23', '39', '41', '27', '28', '19', '33', 'More than 50 years', '37', '29', '32', '43', '40', '38', '45', '42', '46', '36', '44', '47', '48', '49']
------------------------

YearsCode
[nan, '7', '17', '3', '4', '6', '16', '12', '15', '10', '40', '9', '26', '14', '39', '20', '8', '19', '5', 'Less than 1 year', '22', '2', '1', '34', '21', '13', '25', '24', '30', '31', '18', '38', 'More than 50 years', '27', '41', '42', '35', '23', '28', '11', '37', '44', '43', '36', '33', '45', '29', '50', '46', '32', '47', '49', '48']
------------------------

it seems that there are options as 'More than 50 years' and 'Less than 1 year' and these options changed the datatype to object not an integer as expected so, we need to preprocess these columns before modeling